

.App {
  text-align: left;
  font-size: 1em;
  background-color:black;
  margin: 10em;
  height: 750px;
  
  
}

.App-logo {
  height: 140px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: blue;
  height:40px;
  display: flex;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  

}
.under-header{
  
 margin-top: 8em;
 
  
  

}
.App-link {
  color: #61dafb;
}
.Card-counter{
  display: flex;
  justify-content: space-between;
}
.employee-name{
  display: flex;
  justify-content: center;
  font: large;

}
.Card-1{
  
display: flex;
}
.From{
  font: large
}
.City-country{
  font: medium;
}
.Card-2{
  display: flex;
}
.job-title{
  font: large;
}
.title{
  font: medium;

}
.Card-3{
  display: flex;
}
.Employer{
  font: large;
}
.Employer-name{
  font: medium
}
.Card-4{
  display: flex;
}
.Favorite{
  font: large;
}
.Favorite-movie{
  font: medium;
}
.Card{
  background-color:white;
  height: 500px;
  width: 60%;
  margin-left: 275px;
  font-size: 2em;
  flex-direction: column;
}
.Button1{
  margin-top: 5em;
  justify-content: space-between;
  background-color: white;
  display: flex
  

}
.Button2{
  align-items: flex-end;
  box-sizing: border-box;
  background-color: white;
  display: flex;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
